{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pais list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Codigopais</th>
                <th>Codigoarea</th>
                <th>Creado</th>
                <th>Actualizado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pai in pais %}
            <tr>
                <td><a href="{{ path('pais_show', { 'id': pai.id }) }}">{{ pai.id }}</a></td>
                <td>{{ pai.descripcion }}</td>
                <td>{{ pai.codigoPais }}</td>
                <td>{{ pai.codigoArea }}</td>
                <td>{% if pai.creado %}{{ pai.creado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pai.actualizado %}{{ pai.actualizado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pais_show', { 'id': pai.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pais_edit', { 'id': pai.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pais_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
