{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pais</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pai.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ pai.descripcion }}</td>
            </tr>
            <tr>
                <th>Codigopais</th>
                <td>{{ pai.codigoPais }}</td>
            </tr>
            <tr>
                <th>Codigoarea</th>
                <td>{{ pai.codigoArea }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{% if pai.creado %}{{ pai.creado|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Actualizado</th>
                <td>{% if pai.actualizado %}{{ pai.actualizado|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pais_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pais_edit', { 'id': pai.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
